fluxbox/backgrounds/*
!fluxbox/backgrounds/.gitignore
!fluxbox/backgrounds/world_sunlight_Wallpaper.jpg
fluxbox/pixmaps/*
!fluxbox/pixmaps/.gitignore
fluxbox/styles/*
!fluxbox/styles/.gitignore
fluxbox/fbrun_history
fluxbox/menudefs.hook
fluxbox/menu
fluxbox/log
fluxbox/lastwallpaper
fluxbox/fluxbox-menu
vim/.netrwhist
!bin
vim/bundle/
