[submodule "elisp/helm"]
	path = elisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "elisp/joomla-mode"]
	path = elisp/joomla-mode
	url = https://github.com/marcanuy/joomla-mode
[submodule "elisp/php-mode"]
	path = elisp/php-mode
	url = https://github.com/ejmr/php-mode
[submodule "elisp/graphviz-dot-mode"]
	path = elisp/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode
[submodule "elisp/web-mode"]
	path = elisp/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "elisp/twittering-mode"]
	path = elisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode
[submodule "elisp/dired-plus"]
	path = elisp/dired-plus
	url = https://github.com/emacsmirror/dired-plus
[submodule "elisp/ace-jump-mode"]
	path = elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "elisp/bookmark-plus"]
	path = elisp/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus
[submodule "elisp/magit"]
	path = elisp/magit
	url = git://github.com/magit/magit.git
